@accent: #03a9f4;
@background: #fafbfc;
@text-color: #586069;
@header: #24292e;
@header-accent: #13181d;

* {

  box-sizing: border-box;

  margin: 0px;
  padding: 0px;

  outline: none;

  font: 14px "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-weight: lighter; */
  color: @text-color;
}

a {
  color: @accent;
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  margin-bottom: 10px;
}

button[type="submit"] {
  color: #fff;
  background-color: dodgerblue;
  background-image: linear-gradient(-180deg, deepskyblue 0%, dodgerblue 90%);
  border: 1px solid #198bfa;
  padding: 8px;
  border-radius: 7px;
  margin-top: 8px;
  min-width: 150px;
}
form {
  background: @background;
  position: absolute;
  display: block;
  left: calc(50vw - 200px) !important;
  width: 400px !important;
  padding: 25px;
  // left: 32.5vw;
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: @text-color !important;
  }
  input[type="text"], input[type="password"], input[type="email"], input[type="file"] {
    background: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    color: @text-color !important;
    // box-shadow: 0 1px 5px 0 #ccc inset !important;
    margin-bottom: 15px;
  }
}

header {
  width: 100vw;
  background-color: @header;
  // position: fixed;
  // background-image: linear-gradient(-180deg, @header 0%, @header-accent 90%);
  padding: 5px;
  nav {
    display: block;
    width: 50vw;
    left: 50%;
    position: relative;
    ul {
      width: 100%;
      display: flex;
      text-align: center;
      li {
        width: 100%;
        padding: 10px;
        list-style-type: none;
        text-align: center;

        .title {
          width: 100%;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  * {
    color: @background;
  }
}
body {
  background: @background;
  overflow-x: hidden;
}

.albumView {
  width: 95vw;
  height: 95vh;
  background: #ccd;
  position: fixed;
  padding: 30px;
  left: 2.5vw;
  top: 2.5vh;
  border-radius: 25px;
  display: none;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 1fr 70vh 1fr;
  grid-template-areas: 'controls controls controls' 'images images images' 'd d d';

  .main {
    margin: 3px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: images;

    overflow-y: auto !important;
    box-shadow: 0 0px 5px 0 #666 inset !important;
  }
  .albumControls {
    margin: 15px;
    width: 100vw;
    position: fixed;
    // top: 0;
    // left: 0;
    padding: 5px;
    h1, #close {
        color: #eee;
        display: block;
        position: fixed;
        line-height: 20px;
        font-size: 25px;
    }
    h1 {
        height: 30px !important;
        // background: @header;
        font-size: 20px !important;
        position: relative;
        text-align: left;
        float: right;
        max-width: calc(100% - 50px);
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    #close {
        background: transparent !important;
        border: none;
        float: left;
        img {
            width: 50px;
        }
    }
}
}
button.tool {
  align-items: flex-start;
  background-color: #ccd;
  border-radius: 5px;
  color: @text-color;
  padding: 5px;
  border: none;
  vertical-align: middle;
}
button.tool > * {
  background-image: url("/res/close.svg");
}
.album {
  width: 150px;
  height: 150px;
  background: @accent;
  border-radius: 5px;
  float: left;
  margin: 15px;
  list-style-type: none;
}
.album .title {
  display: block;
  width: calc(100% - 20px);
  position: relative;
  text-align: center;
  font-size: 14pt;
  top: calc(100% - 14pt - 20px);
  background: @header-accent;
  margin: 10px;
}
.images {
  width: 100%;
  padding: 15px;
  // background: #aaa;
  position: relative;
  // height: 100%;
  .photo {
    float: left;
    width: 250px;
    min-height: 250px;
    list-style-type: none;
    background: @header-accent;
    margin: 5px;
    position: relative;
    .title {
      position: relative;
      top: 200px;
      max-width: 250px;
      min-width: 150px;
      text-align: center;
      background: black;
      display: block;
      padding: 5px;
      z-index: 2;
    }
  }
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: @header;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: @text-color;
    border: 1px solid @text-color;
    border-radius: 500px;
}

#imgDisplayContainer.smallscreen {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
  background: @header;
  border-radius: 15px;
  display: none;
  overflow: hidden;

  z-index: 3;

  padding: 30px;

  .tool {
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    background: transparent;
  }

  .imgDisplay {
    width: 100%;
    height: 100%;
    // overflow: visible;
    overflow: hidden;
    text-align: center;
    z-index: 3;
    img.smallscreen {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
    img.fullscreen {
      position: relative;
      display: block;
      max-width: 100vw;
      max-height: 100vh;
      z-index: 4;
      position: fixed;
      top: 0vh;
      left: 0vw;
    }
    img#viewer.fullscreen {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
}
img#viewer.fullscreen {
  max-width: 100vw;
  max-height: 100vh;
}
#imgDisplayContainer.fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 6;
  text-align: center;
  background: @background;
  #controlPanel {
    width: 100%;
    text-align: left;
    display: none;
    .tool {
      position: fixed;
    }
  }
}
.controls {
  display: flex;

  background-color: dodgerblue;
  background-image: linear-gradient(-180deg, deepskyblue 0%, dodgerblue 90%);
  border: 1px solid #198bfa;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 50vw;
  left: 25vw;
  height: 5vh;
  transition: 0.25s ease;
  text-align: center;
  z-index: 7;
  position: fixed;
  bottom: -5vh;
}
.controls > * {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
  img {
    height: 30px;
    padding: 5px;
  }
}
input[type="file"] {
  width: 50%;
  position: relative;
  left: 25%;
  margin-top: 5%;
}
.progressBar {
  display: block;
  height: 20px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid @text-color;
  box-shadow: 0 0 3px 0 #aaa inset;
  overflow: hidden;
  padding: 2px;
  position: relative;
  left: 5%;

  .inner {
    border-radius: 3px;
    background: @accent;
    width: 0%;
    display: block;
    height: 100%;
    transition: 1s ease;
  }
}
span.err {
  width: 90vw;
  position: fixed;
  left: 5vw;
  display: block;
  top: 12.5vh;
  padding: 5px;
  color: #a00;
  font-family: monospace;
  text-align:center;
}
#album {
  position: relative;
  padding: 5px;
  top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  width: 50%;
  left: 25%;
}
section#newAlbum {
  width: 75vw;
  position: fixed;
  z-index: 7;
  left: 12.5vw;
  text-align: left !important; 
  background: #abf;
  padding: 15px;
  height: 100%;
  display: none;
  input[type="checkbox"] {
    width: 50%;
    text-align: center;
  }
  #cont {
    width: 75%;
    position: relative;
    left: 12.5%;
    display: flex;

    > * {
      width: 100%;
      font-weight: bold;
      position: relative;
      text-align: left;
      float: left;
      display: block;
    }
    button {
      background-color: dodgerblue;
      background-image: linear-gradient(-180deg, deepskyblue 0%, dodgerblue 90%);
      border: 1px solid #198bfa;
      text-align: center;
      color: @background;
      font-weight: lighter !important;
      width: 80%;
      border-radius: 5px;
      padding: 10px;
      margin: 15px;
    }
  }
}