extends layout

block content
  if (err)
    span.err=err
  form(method="post", action="login")
    label(for="un") Your Username
    br
    input(name="un", placeholder="Username", type="text")#un
    br
    label(for="pw") Your Password
    br
    input(name="pw", placeholder="Password", type="password")#pw
    br
    button(type="submit") Log In
    br
    a(href="/signup") Need an account?
