extends layout

block content

	script (function(){window.vars = window.vars || {};})()
	
	script.
		window.vars.mkalbum = function(albumName, private) { 
			var xhr = new XMLHttpRequest();
			xhr.open('put', '/upload', true);
			xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			var settings = JSON.stringify( { name: albumName, private } )
			console.log(settings);
			xhr.send(settings);
		}

	script.
		window.vars.moveProgressBar = function(percentage) {
			document.querySelector("#progressBarInner").style.width = percentage + "%";
		}

	section#newAlbum
		input(type="text", placeholder="Album Name")#name
		label(for="private") Make Album Private
		input(type="checkbox", checked)#private

		#cont
			button(onclick="window.vars.mkalbum(document.querySelector('#name').value, document.querySelector('#private').value)") Ok
			button(onclick="window.vars.closeDialog()") Cancel

	select(onchange="window.vars.setAlbum(this)")#album
		each item in albums
			option=item
		option New Album

	br

	input(type="file", accept="image/*", name="image", multiple="", required)#file

	script(src="/src/fileuploader.js")
	.progressBar
		div.inner#progressBarInner

	script window.addEventListener('load', e => { window.vars.progressBar = document.querySelector(".inner") } );

	script window.vars.setAlbum = function(album) { if (album.value == "New Album") { window.vars.newAlbum() } }

	script window.vars.newAlbum = function() { document.querySelector("#newAlbum").style.display="block"; }